<a class="ZA-a-<%= `${url}` %>" target="_blank" class="title">
  <div class="media_wrap clearfix arrangedFlex">
    <div class="<%=wrapImgClass%>">
      <img class="ZA-img-<%= `${url}` %>" class="<%=imgClass%>"></img>
    </div>
    <div class="infor">
      <div class="title"><%= title %></div>
      <div class="ZA-div-size-<%= `${url}` %> description"></div>
    </div>
  </div>
</a>