<div class="message-19">
  <div class="message-19__thumb">
    <a href="<%= `${fileDir}/${fileName}` %>" target="_blank">
      <img class="message-19__thumb__<%=imgClass%>" src="<%= `${thumbDir}/${thumbName}` %>">
    </a>
  </div>
  <div>
    <a href="<%= `${fileDir}/${fileName}` %>" target="_blank">
      <h3 class="message-19__title">
        <%= title %>
      </h3>
      <p class="message-19__description ZA-div-size-<%= `${url}` %>"></p>
    </a>
  </div>
</div>