<div class="message-17">
  <div class="message-17__thumb">
    <a href="<%= `${url}` %>" target="_blank">
      <img class="message-17__thumb__img" src="<%= `${dir}/${fileName}` %>">
    </a>
  </div>
  <div>
    <a href="<%= `${url}` %>" target="_blank" class="message-17__link">
      <h3 class="message-17__title">
        <%= desc %>
      </h3>
      <p class="message-17__description">
        <%= `${lat}, ${lo}` %>
      </p>
    </a>
  </div>
</div>