<div class="message-6">
  <div class="message-6__thumb">
    <a href="http://<%= `${url}` %>" target="_blank">
      <img class="message-6__thumb__img ZA-img-<%= `${url}` %>">
    </a>
  </div>
  <div>
    <a href="http://<%= `${url}` %>" target="_blank" class="message-6__link">
      <h3 class="message-6__title">
        <%= title %>
      </h3>
      <p class="message-6__description">
        <%= description %>
      </p>
    </a>
  </div>
</div>